
@font-face {
    font-family: 'pauls_super_fontregular';
    src: url('fonts/pauls_super_font-webfont.eot');
    src: url('fonts/pauls_super_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pauls_super_font-webfont.woff') format('woff'),
         url('fonts/pauls_super_font-webfont.ttf') format('truetype'),
         url('fonts/pauls_super_font-webfont.svg#pauls_super_fontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.slides > section {
    background: url(../img/logo.png) no-repeat right bottom;
}

.slides section:first-of-type h2 {
    color: orange !important;
}

.default .reveal .state-background {
  background: rgba( 0,0,0,0 );
}

.alert .reveal .state-background {
  background: rgba( 200,50,30,.6 );
}

.blackout .reveal .state-background {
  background: rgba( 0,0,0,.6 );
}

.soothe .reveal .state-background {
  background: rgba( 50,200,90,.4 );
}

.inline {
  max-width: 1.2em !important;
  max-height: 1.2em !important;
  margin: 0 !important;
  border: none !important;
}

.presentor .position_rank {
  font-family: pauls_super_fontregular;
  display: block;
}
